/* CSS Document */

@media (max-width: 767.98px) {
	
		.navkonum{
		margin-top: 20px;
	}
	
	.soldandstkp{
		margin-left: 10px;
		
	}
	
	.destkoppagi{
		margin-left: 3%;
	}

}


@media (min-width: 992px) {


	.circlesoldandstkp{
		margin-left: 45px !important;
	}
	
	.navkonum{
		margin-right: 150px;
	}

	.soldandstkp{
		margin-left: 10px;
	}

	.destkopnavtop{
		margin-top: 300px;
	}
	
	.text-responsive-boyut{
		font-size: 1px;
	}
	
	.destkopcizgihide{
		display: none;
	}
	
	.destkoppagi{
		margin-left: 25%;
	}
	
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


